@media screen and (max-width:900px){
    .menu a:hover{
        border-top: none;
    }
    .headline_l{
        flex:100%;
        margin: 5%;
        text-align: center;
    }
    
    .headline_r{
        flex:100%;
        margin: 5%;
        text-align: center;
    }
    .header{
        padding-top: 100px;
    }
    .menu{
        margin: 0;
        text-align: center;
    }
    .logo {
        display: none;


    }
}